@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: theme('colors.github.inactiveBackground');
  color: theme('colors.github.white.normal');
}

/* modify tailwind */
/* .prose :where(pre:has(> div.code)) {
  background-color: unset !important;
  padding: unset !important;
  border-radius: unset !important;
} */

.prose {
  max-width: 80ch;
}

/* end of modify tailwind */

.cursor-animation {
  display: inline-block;
  width: 5px;
  height: 1rem;
  background: #00b0a0;
  margin-left: 5px;
  margin-bottom: -1px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
