@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: theme('colors.github.inactiveBackground');
  color: theme('colors.github.white.normal');
}

/* modify tailwind */
/* .prose :where(pre:has(> div.code)) {
  background-color: unset !important;
  padding: unset !important;
  border-radius: unset !important;
} */

.prose {
  max-width: 80ch;
}

/* end of modify tailwind */

.cursor-animation {
  display: inline-block;
  width: 5px;
  height: 1rem;
  background: #00b0a0;
  margin-left: 2px;
  margin-bottom: -2px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.gradient-animation {
  animation: gradient-x 5s ease infinite;
  background-image: linear-gradient(to right, #facc15, #34d399, #0ea5e9);
  color: transparent;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0;
    background-size: 200% 200%;
  }

  50% {
    background-position: 100%;
    background-size: 200% 200%;
  }
}
