@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #010409;
  color: #c9d1d9;
}

.cursor-animation {
  display: inline-block;
  width: 5px;
  height: 1rem;
  background: #00b0a0;
  margin-left: 5px;
  margin-bottom: -1px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
